
.text {
  font-size: 50px;
  margin: 100px auto;
  width: 80%;
  transition: 1s;
}

.text2 {
  font-size: 40px;
  margin: 100px auto;
  width: 80%;
  transition: 1s;
}

.greeting {
  font-size: 60px;
  width: 80%;
  margin: 100px auto;
  transition: 1s;
}

.link {
  color: #007ab9;
  margin: 5px;
  transition: .5s;
  font-weight: 400;
}

.link:hover {
  margin-left: 15px;
  transition: .5s;
  cursor: pointer;
}

.option {
  margin-left: 40px;
  line-height: 75px;
}

.skip {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid white;
  border-radius: 3px;
  transition: .5s;
}

/* Cursor styling */

.Typist .Cursor--blinking {
  opacity: 1;
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: .8; }
  50% {
    opacity: .1; }
  100% {
    opacity: .8; }
}

@keyframes blink {
  0% {
    opacity: .8; }
  50% {
    opacity: .1; }
  100% {
    opacity: .8; }
}
