
#greeting {
  font-size: 8vh;
  width: 80%;
  margin: 100px auto;
  transition: 1s;
}

.text {
  font-size: 6vh;
  margin-left: 5vw;
  margin-bottom: 5vw;
  margin-top: 8vw;
  transition: 1s;
}

.greetingText {
  width: 80vw;
  margin-left: 5vw;
  line-height: 8vh;
}

.text2 {
  font-size: 4vh;
  margin-left: 5vw;
  transition: 1s;
}

.link {
  color: #007ab9;
  margin: 5px;
  transition: .5s;
  font-weight: 400;
}

.link:hover {
  margin-left: 15px;
  transition: .5s;
  cursor: pointer;
}

.option {
  margin-left: 5vw;
  line-height: 10vh;
  align-self: flex-start;
}

.skip {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid white;
  border-radius: 3px;
  transition: .5s;
}

.signature {
  right: 0;
}

/* Cursor styling */

.Typist .Cursor--blinking {
  opacity: 1;
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: .8; }
  50% {
    opacity: .1; }
  100% {
    opacity: .8; }
}

@keyframes blink {
  0% {
    opacity: .8; }
  50% {
    opacity: .1; }
  100% {
    opacity: .8; }
}
