
.animatedText {
  font-size: 50px;
  margin: 100px auto;
  width: 80%;
  transition: 1s;
}

.animatedText2 {
  font-size: 40px;
  margin: 100px auto;
  width: 80%;
  transition: 1s;
}

.greeting {
  font-size: 60px;
  width: 80%;
  margin: 100px auto;
  transition: 1s;
}

.link {
  color: blue;
  margin: 5px;
  transition: .5s;
}

.link:hover {
  margin: 15px;
  transition: .8s;
  cursor: pointer;
}
