html {
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
}

.container {
  text-align: left;
  width: 100%;
  margin: auto;
}

.linksFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 100px;
  left: 50%;
  right: 50%;
}

.icon {
  width: 48px;
  margin: 20px;
  transition: .5s;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: .8s;
}
