.slider-list {
  height: 88vh !important;
  width: 50vw !important;
  cursor: inherit !important;
}

.slider.carousel {
  height: 100% !important;
}

.slider-decorator-0 {
  left: -4vw !important;
}

.slider-decorator-1 {
  right: -4vw !important;
}
