
.detailPane {
  width: 600px;
  height: 500px;
  border: 1px solid black;
  position: fixed;
  right: 100px;
  top: 100px;
}

.detailTitle {
  font-size: 40px;
  text-align: center;
}

.aboutButtonIndex {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 50px;
}

.aboutButton {
  border: 1px solid black;
  width: 100px;
  text-align: center;
  padding: 10px;
  margin: 30px 5px;
}

.aboutButton:hover {
  cursor: pointer;
}

.aboutFocus {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  position: fixed;
  right: 100px;
  top: 100px;
  margin: 60px 50px 50px 100px;
}


/* FADEIN TRANSITION */

.example-enter {
   opacity: 0.01;
}

.example-enter.example-enter-active {
   opacity: 1;
   transition: opacity 1s ease-in;
}

.example-leave {
   opacity: 1;
}

.example-leave.example-leave-active {
   opacity: 0.01;
   transition: opacity 1s ease-in;
}
